aws_region                 = "eu-west-1"
aws_vpc_id                 = "YOUR_AWS_VPC_ID"
aws_private_route_table_id = "YOUR_PRIVATE_ROUTE_TABLE_ID"
aws_public_route_table_id  = "YOUR_PUBLIC_ROUTE_TABLE_ID"
hetzner_server_public_ip   = "YOUR_HETZNER_SERVER_PUBLIC_IP"
hetzner_server_private_ip  = "10.0.1.1"
hetzner_network_cidr       = "10.0.0.0/8"
aws_network_cidr           = "172.16.0.0/16"
ssh_private_key_path       = "~/.ssh/id_rsa"
