hcloud_token = "your-hetzner-api-token"
network_name = "prod-network"
ip_range     = "10.0.0.0/8"
network_zone = "eu-central"
environment  = "prod"

subnets = [
  {
    name     = "subnet-servers"
    ip_range = "10.0.1.0/24"
  },
  {
    name     = "subnet-vms"
    ip_range = "10.0.2.0/24"
  }
]
